@import '/src/pages/_sidebar/Sidebar.module.css';

:root {
    --header-height: 85px;
}

.background {
    position:fixed;
    background-color: #0088CA;
    padding-left: var(--sidebar-width);
    flex-direction: column;
    width: 100vw;
    height: var(--header-height);
    padding-top: 15px;
    justify-content: center; 
    z-index: -1;
}